<span class="obj_user obj_user-thin {{ user_classes | default('') }}">
    <a href="mailto:{{ user.email }}">
        <span class="badge">

            <span class="glyphicon glyphicon-user"></span>
            {{ user.username }}

        </span>
    </a>
</span>