<span class="obj_user obj_user-thin {{ user_classes | default('') }}">
    <a href="mailto:{{ user.email }}">
        <span class="badge">

            {{ include('MbyCommunityBundle:User:icon.html.twig') }}
            {{ user.username }}

        </span>
    </a>
</span>