<a href="mailto: {{ email }}">
    <span class="btn btn-primary">
        <span class="glyphicon glyphicon-send"></span>
        {{ 'send email' | trans({}, 'MbyCommunityBundle') | capitalize }}
    </span>
</a>