<form class="form-inline" action="{{ path("membership_apply") }}" method="post">
    <input type="hidden" name="id" value="{{ communityId }}"/>
    <button class="btn btn-info">
        {{ include('MbyCommunityBundle:Action:follow-icon.html.twig') }}
        {{ 'follow' | trans({}, 'MbyCommunityBundle') | capitalize }}
    </button>
</form>