{% extends 'MbyCommunityBundle:Lobby:lobbyLayout.html.twig' %}

{% block page %}

    <h1>{{ 'administraton' | trans({}, 'MbyCommunityBundle') | capitalize }}</h1>

    {% for privilege in privileges %}
        {{ include('MbyCommunityBundle:CommunityPrivilege:communityPrivilege-admin.html.twig', {'privilege' : privilege, 'panel_classes' : 'panel-danger'}) }}
    {% endfor %}

{% endblock %}