{% extends 'MbyCommunityBundle:Lobby:lobbyLayout.html.twig' %}

{% block page %}

    <h1>{{ 'my memberships' | trans({}, 'MbyCommunityBundle') | capitalize }}</h1>

    {% for membership in memberships %}
        {{ include('MbyCommunityBundle:Membership:membership.html.twig', {'membership' : membership, 'panel_classes' : 'panel-success'}) }}
    {% endfor %}

{% endblock %}