{% extends 'MbyCommunityBundle:Lobby:lobbyLayout.html.twig' %}

{% block page %}

    <h1>{{ 'search for communities' | trans({}, 'MbyCommunityBundle') | capitalize }}</h1>

    {% for community in communities %}
        {{ include('MbyCommunityBundle:Season:render.html.twig', {'season' : community.seasons.first, 'panel_classes' : 'panel-info'}) }}
    {% endfor %}

{% endblock %}