{% extends 'MbyCommunityBundle:Lobby:lobbyLayout.html.twig' %}

{% block page %}

    <h1>{{ 'search for communities' | trans({}, 'MbyCommunityBundle') | capitalize }}</h1>

    {% for season in seasons %}
        {{ include('MbyCommunityBundle:Season:season.html.twig', {'season' : season, 'panel_classes' : 'panel-info'}) }}
    {% endfor %}

{% endblock %}