{% extends 'AppBundle::layout.html.twig' %}

{% block page %}

<h1>My Communities</h1>

{% for community in communities %}
    {% for season in community.seasons %}
        {{ include('MbyCommunityBundle:Season:render.html.twig', {'season' : season}) }}
    {% endfor %}
{% endfor %}

{% endblock %}