{% extends 'AppBundle::layout.html.twig' %}

{% block page %}

<h1>My Seasons</h1>
        
{% for season in seasons %}
    {{ include('MbyCommunityBundle:Season:render.html.twig', {'season' : season}) }}
{% endfor %}

{% endblock %}