
{% block panel %}

    <div class="{{ obj_class }} panel {{ panel_classes | default('') }}">

        <div class="panel-heading">

            {% block heading %}

                <h2 class="panel-title">

                    {% block title %}{% endblock %}

                </h2>

            {% endblock %}

        </div>

        <div class="panel-body">
            <div>
                {% block body %}
                    <div class="panel-top">
                        {% block top %}{% endblock %}
                    </div>

                    <div class="panel-content">
                    {% block content %}{% endblock %}
                    </div>

                    <div class="panel-infos">
                        {% block infos %}{% endblock %}
                    </div>

                    <div class="panel-actions">
                        {% block actions %}{% endblock %}
                    </div>

                    <div class="panel-bottom">
                        {% block bottom %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>

        <div class="panel-footer">

            {% block footer %}{% endblock %}

        </div>

    </div>

{% endblock %}